/* @font-face {
    font-family: '04b30';
    src: url('04b_30__-webfont.woff2') format('woff2'),
         url('04b_30__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */

body {
    background-image: url("../images/dog-cartoon-cute-background.jpg");
    background-color: #cccccc;

}

h1.text {

    text-align: center;
    position: absolute;
    margin: -250px 230px;
    font-weight: bold;
    background-color: azure;
    font-size: 50px;
    font-family: 'Fredoka One', cursive;

}

#title {

/* font-family: '04b40'; */
/* text-align: center; */
background-color: aliceblue;
margin: 70px 100px 70px;
padding: 300px 120px 310px;
position: relative;

}

#start {

    margin: -350px 580px 200px;
    position: absolute;
    width: 250px;
    font-size: 40px;
    font-family: 'Fredoka One', cursive;

}

#timerBox {
    
    margin: -520px 600px 150px;
    position: absolute;
    text-align: center; 
    font-family: 'Fredoka One', cursive;
    overflow: hidden;
    white-space: nowrap;
}

#questionBox {

    margin: -450px 420px 200px;
    position: absolute;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}